 .Settngs {
     .contents {
         display: grid;
         grid-template-columns: 300px auto;
         margin-top: 15px;
         gap: 10px;

         @media screen and (max-width: 860px) {
             grid-template-columns: auto;
         }

         .menu {
             display: flex;
             flex-direction: column;
             gap: 5px;

             .btn:hover {
                 background-color: rgba(227, 226, 226, 0.476);
             }

             .btn.on{
                background-color: rgb(243, 248, 255);
                border-color:rgba(0, 140, 255, 0.415);
                // box-shadow: 0 0 10px 15px rgba(128, 128, 128, 0.08);
             }

             .btn {
                 display: grid;
                 grid-template-columns: 50px auto;
                 border: 1px solid var(--borderCommon);
                 width: 100%;
                 border-radius: 5px;
                 gap: 7px;
                 box-sizing: border-box;
                 padding: 8px;
                 cursor: pointer;

                 .icnCont {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                 }

                 .textCont {
                     .head {
                         font-size: medium;
                         font-weight: 600;
                     }

                     .tail {
                         font-size: small;
                         filter: opacity(50%);
                     }
                 }
             }
         }

         .page {
             overflow: hidden;
             border-radius: 3px;
             position: relative;
            //  padding: 20px;

             @media screen and (max-width: 860px) {
                 border: none;
                 padding: 0;
                 margin-top: 0;
             }
         }
     }
 }